@import "../../assets/settings";

.input-password-container {
  position: relative;
  display: grid;

  .input-password {
    padding: 23px 50px 23px 20px;
    border: 1px solid #E5E8EA;
    border-radius: 5px;
    background-color: $white;
    outline: none;
    font-size: 16px;

    &::placeholder {
      text-transform: capitalize;
      color: #B8B4B0;
      font-size: 16px;
      line-height: 18px;
    }
    &:focus{
      border: 1px solid $blue;
    }
  }

  .error {
    border: 1px solid $red;
  }

  .input-password-icons {
    position: absolute;
    top: 23px;
    right: 24px;

    .icon {
      width: 20px;
      height: 20px;
      fill: #E4E4E4;
    }

  }

}

