h1 {
  padding: 0;
  margin: 0 0 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0.16px;
}

h2 {
  padding: 0;
  margin: 0 0 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0.16px;
}
h3 {
  padding: 0;
  margin: 0 0 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0.16px;
}
