//colors
$main_auth_bg: #E5E5E5;
$navbar_bg: #001930;
$navbar_current_item: rgba(255, 255, 255, 0.07);
$blue: #146BBC;
$light_blue: rgba(20, 107, 188, 0.07);
$white: #ffffff;
$red: #ff2f2f;
$green: #00A54C;
$light_green: rgba(0, 165, 76, 0.07);
$black: #000000;
